@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

body {
    background-color: #F5DFCF;
    margin: 0;
}

main {
    background-color:white;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    color: #69412E;
}

h1 {
    font-size: 2em;
    color: #69412E;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 1.2em;
    color: #69412E;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

h3 {
    font-size: 2em;
    color: #69412E;
    font-family: 'Muli', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}

p {
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

img.lado0 {
    max-width: 50px;
    height: auto;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

img.lado1 {
    float: right;
    max-width: 60px;
    height: auto;
    margin-bottom: 10px;
}

img.lado2 {
    float: left;
    max-width: 60px;
    height: auto;
    display: block;
    margin-bottom: 5px;
}

div.div-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
}

div.div-item img {
    max-width: 60px; 
    height: auto;
    margin-right: 10px;
}

div.div-item p {
    margin: 0;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #69412E;
}