@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
    font-size: 16px;
}

body {
    background-color: #F5DFCF;
    margin: 0;
}

main {
    background-color:white;
    width: 700px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    color: #69412E;
}

title {
    font-size: 3em;
    color: #69412E;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-size: 1.5em;
    color: #69412E;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}

h2 {
    font-size: 1.5em;
    color: #69412E;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

img.lado0 {
    max-width: 50px;
    height: auto;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

img.lado1 {
    float: right;
    max-width: 60px;
    height: auto;
    margin-bottom: 10px;
}

img.lado2 {
    float: left;
    max-width: 60px;
    height: auto;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #69412E;
}
