* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #F5DFCF;
    margin: 0;
}

main {
    background-color:white;
    width: 700px;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
    color: #69412E;
}

title {
    font-size: 3em;
    color: #69412E;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
    color: #69412E;
}

h2 {
    font-size: 1.5em;
    color: #69412E;
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #69412E;
}